html {
   font-size: $base-font-size;
   scroll-behavior: smooth;
}

body {
   box-sizing: border-box; 
   min-height: 100vh;
   font-family: "OpenSans", sans-serif;
   background-color: $main-bg-color;
   color: $base-text-color;
}

*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   outline: none;
   padding: 0;
}

ul,
li,
ol,
button {
   list-style: none;
   margin: 0;
   padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
   margin: 0;
}

a {
   text-decoration: none;
}

img {
   display: block;
   width: 100%;
}

input,
button,
textarea,
select {
   font: inherit;
}

/*Animation*/
@media (prefers-reduced-motion: reduce) {
   * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
   }
}

audio,
canvas,
img,
svg,
video,
textarea {
   outline: none;
   vertical-align: middle;
}

iframe {
   display: flex;
   margin: 0 auto;
   max-width: 1000px;
   min-height: 650px;
   outline: none;
   vertical-align: middle;
   width: 100%;
}

textarea {
   resize: none;
}

input[type="text"],
input[type="sabmit"],
input[type="search"],
textarea {
   -webkit-appearance: none;
}

section,
footer {
   position: relative;
   padding: 80px 0;

   @media screen and (max-width: $tablet-size) {
      padding: 60px 0;
   }
}

input,
select,
button {
   outline: none;
}

.wrapper {
   height: auto;
   overflow-x: hidden;
   position: relative;
   width: 100%;
}

.container {
   height: auto;
   margin: 0 auto;
   max-width: $content-size;
   padding-left: 15px;
   padding-right: 15px;
   width: 100%;

   @media screen and (max-width: $phone-size) {
      padding-left: 10px;
      padding-right: 10px;
   }

   &.border-bottom {
      border-bottom: 1px solid rgba($black, 0.1);
   }
}

.page {
   overflow: hidden;
}
