.contact {
	&-wrapper {
		display: grid;
		grid-template-columns: auto 460px;
		grid-gap: 30px;
		width: 100%;

		@media screen and (max-width: $content-size) {
			grid-template-columns: auto;
			grid-gap: 20px;
		}
	}

	&-block {
		display: block;
		position: relative;

		& > * {
			margin: 20px 0;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&-form {
		display: flex;
		flex-direction: column;
		padding: 50px;

		& > * {
			margin: 10px 0;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		@media screen and (max-width: $mobile-size) {
			padding: 10px;
		}
	}

	&-row {
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: 30px;
		width: 100%;

		@media screen and (max-width: $phone-size) {
			grid-template-columns: auto;
		}
	}

	&-textarea,
	&-input {
		display: flex;
		flex-direction: column;

		& > * {
			margin: 5px 0;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		textarea,
		input {
			border: 1px solid $input-border-color;
			color: $base-text-color;
			height: 45px;
			font-size: 15px;
			font-weight: 300;
			min-width: 245px;
			padding: 10px;
			transition: all 0.3s linear;
			width: 100%;

			&:focus {
				border-color: $main-color;
			}

			&:checked {
				background-color: $input-bg-active;
			}
		}
	}

	&-textarea {
		textarea {
			height: 180px;
		}
	}

	&-item {
		padding: 25px;

		& > * {
			margin: 20px 0;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		@media screen and (max-width: $mobile-size) {
			padding: 20px;
		}
	}

	&-info {
		display: flex;
		flex-direction: column;

		& > * {
			margin: 5px 0;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&-title {
		font-weight: 800;
	}

	&-link {
		color: $main-color;
		font-size: 16px;
		font-weight: 300;
		transition: all 0.3s linear;

		&:hover {
			color: $link-color-hover;
		}
	}
}
